* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    height: 100vh;
    font-family: 'Patua One', cursive, sans-serif;
    ul {
        list-style-type: none;
        padding: 10px 0;
    }
}

#container {
    width: auto;

    margin: 0 auto;
    background: url("../images/papyrus.png");


//
//========================================================
//This pattern is downloaded from www.subtlepatterns.com
//If you need more, that's where to get'em.
//========================================================
//




.main_width {
        width: 100%;
        padding: 0 25px;
    }

}

@mixin boxShadow() {
    -webkit-box-shadow: 10px 10px 25px 0px rgba(138,138,138,1);
    -moz-box-shadow: 10px 10px 25px 0px rgba(138,138,138,1);
    box-shadow: 10px 10px 25px 0px rgba(138,138,138,1);
}

#marketOverview {
    //margin-bottom: 20px;
}


#header {
    font-size: 2.5em;
    font-style: italic;
    letter-spacing: 2px;
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    @include boxShadow;


    #title {
        width: 50%;
        padding: 30px 5px;

    };

    #btc-icon {
        width: 50%;
        height: 80%;
        background-image: url("../images/bitcoin-icon.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
}

#price {
    display: flex;
    justify-content: space-between;
    @include boxShadow;

    #btc-buy-price, #btc-sell-price {
        font-size: 2.5em;
        padding: 20px 0;
        //margin: 20px 0;

    }
}


#trade {
    display: flex;
    justify-content: space-evenly;
    @include boxShadow;


    .trade-button {
        font-size: 3em;
        font-weight: bold;
        width: 200px;
        margin: 20px 0;
        border-radius: 7px;
        padding: 20px 30px;
        transition: ease-in-out 100ms;
        @include boxShadow;


        &:hover {
            cursor: pointer;
            transform: scale(1.1);

        }
    }

    #btn-left {
        background-color: #007300;
        &:hover {
            background-color: lighten(green, 3%);
        }

    }

    #btn-right {
        background-color: #cc0000;
        &:hover {
            background-color: lighten(red, 8%);
        }

    }
}

#balance {
    height: 250px;
    font-size: 2.55em;
    text-align: right;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    //margin: 20px 0;
    @include boxShadow;


}

#tradeHistory {
    height: 250px;
    font-size: 1.5em;
    .buyList {
        color: green;
    }
    .sellList {
        color: #c10000;
    }

}



#wallet {
    //margin: 20px 0;
    @include boxShadow;


    .wallet-row {
        display: flex;
        justify-content: space-around;

        .wallet-button {
            width: 10em;
            font-size: 1.55em;
            padding: 10px 15px;
            border-radius: 7px;
            margin: 20px 0;
            background-color: lightblue;
            box-shadow: 10px 10px 20px 0 rgba(148,148,148,1);
            transition: ease-in-out 100ms;



            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                background-color: lighten(lightblue, 3%);
            }
        }
    }
}

#footer {
    font-size: 1.5em;
}