* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Asap', sans-serif;
}

#container {
    width: 600px;
    height: 800px;
    margin: 0 auto;
    background-color: #fff9ea;

    .main_width {
        width: 100%;
        padding: 0 15px;
        background-color: ghostwhite;
    }

}





#header {
    font-size: 1.75em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;


    #title {
        width: 60%;
        padding: 10px 5px;
        font-size: 1.55em;
    }

    #btc-icon {
        width: 40%;
        background-image: url("../images/bitcoin-icon.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}


#btc-price {
    font-size: 3em;
    padding: 20px 0;
    margin-bottom: 10px;

}


#trade {
    display: flex;
    justify-content: space-evenly;

    .trade-button {
        font-size: 4em;
        font-weight: bold;
        border-radius: 7px;
        padding: 10px 20px;
        &:hover {
            cursor: pointer;
        }
    }

    #btn-left {
        background-color: green;
        &:hover {
            background-color: darken(green, 3%);
        }

    }

    #btn-right {
        background-color: red;
        &:hover {
            background-color: darken(red, 8%);
        }

    }
}